@model IEnumerable<Dominio.Planta>

@{
    ViewData["Title"] = "Listado de Plantas";
}

    <div class="row justify-content-center">
        <div class="col col-sm-8 col-lg-10">
            <h1>@ViewData["Title"]</h1>

            <form method="post" asp-action="BuscarPlanta">
                <div class="form-group row justify-content-center mt-3">
                    <select name="id" class="form-control col col-sm-3" id="selSearchPlant">
                        <option value="">Seleccione...</option>
                        <option value="0">Nombre Científico</option>
                        <option value="1">Nombre Vulgar</option>
                        <option value="2">Tipo</option>
                        <option value="3">Ambiente</option>
                        <option value="4">Altura menor a:</option>
                        <option value="5">Altura mayor a:</option>
                    </select>
                    <div class="input-group mb-2 col col-sm-6">
                        <input type="text" class="form-control" name="texto" id='txtSearchPlant' placeholder="Ingrese búsqueda...">
                        <div class="input-group-append">
                            <input class="btn btn-primary" id="btnSearchPlant" type="submit" value="Buscar">
                        </div>
                    </div>
                </div>
            </form>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombre Científico</th>
                        <th>Nombre Vulgar</th>
                        <th>Descripción</th>
                        <th>Ambiente</th>
                        <th>Altura Máx</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCientifico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreVulgar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ambiente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlturaMax)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Precio)
                            </td>
                        </tr>

                    }
                </tbody>
                </table>
        </div>
    </div>

    @*<script>
    $('#btnSearchPlant').click(function () {
        let valueSel = $('#selSearchPlant').val();
        let valueText = $('#txtSearchPlant').val();

        callSearch(valueSel, valueText);
    });

    async function callSearch(valueSel, valueText) {
        await $.ajax({
            type: "GET",
            data: JSON.stringify({ id: valueSel, texto: valueText }),
            url: "PlantaController/ListaPlantasBusqueda",
            method: "GET",
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                if (response != null && response.success) {
                    alert(response.responseText);
                } else {
                    // DoSomethingElse()
                    alert(response.responseText);
                }
            }
        });
    }
    </script>*@